*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
}
img{
    max-width: 100%;
    display: block;
}
.wrapper{
    overflow: hidden;
}
.slide{
    display: flex;
}

.slide li{
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
}
